/* Scroll Gallery Main Styles */

/* Default settings */
* {
  box-sizing: border-box;
}
html, body {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#wrap {
  width: 100%;
  height: 100%;
}
#wrap .title {
  text-align: center;
  margin: 0;
  padding: 16px;
  font-weight: bold;
  font-size: 32px;
}
.row {
  width: 100%;
  margin: 12px auto;
  padding: 0;
}


/* Grid Gallery Structure */
.grid-cell {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid pink;
}
.theater {
  width: 80%;
  margin: 10% auto;
  opacity: 1.0;
  line-height: 0;
  border: 2px solid lavender;
  /* disable user select */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  /* transitions */
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.theater:hover {
  cursor: pointer;
  opacity: 0.6;
  /* transitions */
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.theater img {
  width: 100%;
  height: auto;
}