// Custom User Variables

/*	Instructions:
			You can customize the look of your lightbox using three variables:
			- $wrap-bg-color describes the color the background fades to when the modal is active.
			- $modal-bg-color describes the color of the modal box.
			- $btn-prefix can be used to allow custom buttons. For example:
					'$btn-prefix: "red";'
				This will allow you to use custom buttons called 'red-left.png', 'red-right.png', and 'red-close.png'.
*/

$wrap-bg-color: rgba(40,40,40,0.5);
$modal-bg-color: rgba(60,60,60,0.96);
$btn-prefix: null;

